body {
  background: url("http://4vector.com/i/free-vector-classical-floral-pattern-04-vector_022902_Classical%20Flower%20Patterns4.jpg");
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;

}

.Main > *, .App-header, footer {
  margin: 8px;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 4px 3px 8px #000108;
}

